.hthree{
    font-family: arial, sans-serif;
    text-align:center;
    font-size: 20px;
}
.box{
    text-align: center;

}
.hth3{
    text-align: center;
    font-size: 25px;
}
.contact{
    font-weight: bold;
    margin-left: 100px;
}
input{
    width: 50%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  width:100%;
  height: 80%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text1 {
  color: #000000;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align:center;
  font-weight: 700;
  font-family: Arial, Helvetica, serif;
  
}

.text2 {
    color: #000000;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align:center;
    
  }
  .text3, .text5 {
    color: #000000;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align:center;
    font-weight: 600;
    
  }
  .text4 {
    color: #1858e1;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align:center;
    font-weight: 600;
  }
  .box{
    color: #000000;
    font-weight: 700;
  }
  .eat{
    text-align: center;
    font-weight: 650;
    }
  h6{
    color: #000000;    
  }
  .size{
    height: 45%;
    width: 55%;
  }
  .joes :hover {
    opacity: 1;
    transition: opacity 1s, background 1s;
    background: #377aff;
  }
    .joes{
      height: 250px;
    width: 200px;
    opacity: 0.65;
    transition: opacity 1s, background 1s;
  }
  #button1{
    width: 20%;
    height: 20%;
    background-color: antiquewhite;
    font-weight: 700;
    font: 700;
    border: none;
  }
  #button2{
    width: 20%;
    height: 20%;
    background-color: rgba(255, 187, 0, 0.968);
    font-weight: 700;
    border: none;
  }
  #button3{
    width: 20%;
    height: 20%;
    background-color: green;
    font-weight: 700;
    border: none;
  }
  #button4{
    width: 20%;
    height: 20%;
    background-color: rgba(60, 83, 255, 0.909);
    font-weight: 700;
    font: 700;
    border: none;
  }
  #button5{
    width: 20%;
    height: 20%;
    background-color: red;
    font-weight: 700;
    font: 700;
    border: none;
  }
  #button6{
    width: 20%;
    height: 20%;
    background-color: black;
    font-weight: 700;
    color: aliceblue;
    border: none;
  }
  #button1,#button2,#button3,#button4,#button5,#button6:hover{
    cursor: pointer;
  }
  .Yellowstripstrip{
    width: 30%;
    height: 30%;
    background: linear-gradient(
    to right,
    white 0%,
    white 90%,
    yellow 10%,
    yellow 100%
  );
  cursor: pointer;
  border: none;
  }
  .Yellowbeltbelt{
    width: 30%;
    height: 30%;
    background-color: yellow;
    cursor: pointer;
    border: none;
  }
  .Greenstripstrip{
    width: 30%;
    height: 30%;
    background: linear-gradient(
    to right,
    yellow 0%,
    yellow 90%,
    green 10%,
    green 100%
  ); cursor: pointer;
  border: none;}
  .Greenbeltbelt{
    width: 30%;
    height: 30%;
    background-color: green;
    cursor: pointer;
    border: none;
  }
  h5{
    font-family: Arial, Helvetica, serif;
    
  }
  .Bluestripstrip{
    width: 30%;
    height: 30%;
    background: linear-gradient(
    to right,
    green 0%,
    green 90%,
    blue 10%,
    blue 100%
  ); cursor: pointer;
  border: none;
  }
  .Bluebeltbelt{
    width: 30%;
    height: 30%;
    background-color:blue;
    cursor: pointer;
    border: none;
  }
  .sewey{
    font-weight: 550;
  }
  .Redstripstrip{
    width: 30%;
    height: 30%;
    background: linear-gradient(
    to right,
    rgb(0, 0, 255) 0%,
    rgb(0, 0, 255) 90%,
    red 10%,
    red 100%
  ); cursor: pointer;
  border: none;
  }
  .Redbeltbelt{
    width: 30%;
    height: 30%;
    background-color:red;
    cursor: pointer;
    border: none;
  }
  .Blackstripstrip{
    width: 30%;
    height: 30%;
    background: linear-gradient(
    to right,
    rgb(255, 0, 0) 0%,
    rgb(255, 0, 0) 90%,
    black 10%,
    black 100%
  ); cursor: pointer;
  border: none;
  }
  .Blackbeltbelt{
    width: 30%;
    height: 30%;
    background-color:black;
    cursor: pointer;
    border: none;
  }
  .meta{
    width: 3%;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  .sowwy{
    width:15%;
    height: 5%;
    background-color: beige;
    border: none;
  }
  .disord{
    font-weight: 650;
  }
  